code/.htaccess
code/wp-config.php
code/wp-content/uploads/
code/wp-content/blogs.dir/
code/wp-content/upgrade/
code/wp-content/backup-db/
code/wp-content/advanced-cache.php
code/wp-content/wp-cache-config.php
code/sitemap.xml
code/*.log
code/wp-content/cache/
code/wp-content/backups/
code/sitemap.xml.gz
code/wp-content/plugins/awesome-flickr-gallery-plugin/cache
code/wp-content/plugins/awesome-flickr-gallery-plugin-3.tmp/cache
